:root
{
    --blue: #2196F3;
    --black: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --normal-font-size: 14;
    --middle-font-size: 16;
    --main-font: "Roboto"
    
}
.entire-content {
font-family: var(--main-font);
}

.title-section { 
    height: 600px;
    width: 1600px;
    background-color: #2F303A;
    text-align: center;
    
}
 
.main-title {
    color: var(--white);
}

a { 
text-decoration: none; 
font-family: var(--main-font);
color: var(--black);
}


.list, .benefits {
    list-style-type: none;
}