:root
{
    --blue: #2196F3;
    --black: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --normal-font-size: 14px;
    --middle-font-size: 16px;
    --main-font: "Roboto"
    
}
/* Body global*/
.entire-content {
font-family: var(--main-font, sans-serif);
color: var(--black);
}

/* Header style*/
.web-studio {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.48px;
    text-align: left;
    line-height: auto;
}
.web-logo {
    color: var(--blue);
}
/* Navigation list*/
.navigation-list {
    font-size: var(--normal-font-size);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-align: left;
    line-height: auto;
}

.header-links {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--black);
}
.link:hover {
    color: var(--blue);
}


.title-section { 
    height: 600px;
    width: 1600px;
    background-color: #2F303A;
    text-align: center;
    
}
 
.main-title {
    color: var(--white);
}




.list, .benefits {
    list-style-type: none;
}