:root
{
    --blue: #2196F3;
    --black: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --button-grey: #F5F4FA;
    --normal-font-size: 14px;
    --middle-font-size: 16px;
    --main-font: "Roboto";

    
}
/* Body global*/
.entire-content {
font-family: var(--main-font, sans-serif);
color: var(--black);
width: 1600px;
}

/* Header style*/
.web-studio {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-align: left;
    line-height: auto;
}
.web-logo {
    color: var(--blue);
}
/* Navigation list*/
.navigation-list {
    font-size: var(--normal-font-size);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-align: left;
    line-height: auto;
}

.header-links {
    font-weight: 500;
}

/* Link style */
a {
    text-decoration: none;
    color: var(--black);
}
.link:hover {
    color: var(--blue);
}

/*Title section*/
.title-section { 
    height: 600px;
    width: 1600px;
    background-color: #2F303A;
    text-align: center;
    
}
 
.main-title {
    color: var(--white);
    font-weight: 900;
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

/*Advantages & what we do section*/

.advantage {
    font-size: var(--normal-font-size);
    font-weight: 700;
}
.advantage-description {
color: var(--grey);
text-align: left;
width: 270;
height: 72;
}

.list, .benefits {
    list-style-type: none;
}

/* What we do*/
.do-title .our-team-title {
    font-size: 36px;
    font-weight: 700;
}
 /*Our team section*/

.name {
    font-size: var(--middle-font-size);
    font-weight: 500;
}
.ocupation {
    font-size: var(--middle-font-size);
    color: var(--grey);
}

/*Footer*/
.contacts {
    background-color: #2F303A;
    width: 1600px;
    height: 251px;
    color: var(--white);
}

.web-studio-light {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-align: left;
    line-height: auto;
    color: var(--white);
}

.web-logo-light {
    color: var(--blue);
}
.contacts-detailes {
font-style: normal;
}

.info, .number {
    color: #FFFFFF60;
}
 
/* Portofolio page*/

.buttons-element {
    font-size: var(--middle-font-size);
    font-weight: 500;
    background-color: var(--button-grey);
    height: 38px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-element:hover {
    background-color: var(--blue);
    color: var(--white);
}
.buttons-list {
    list-style-type: none;
}

.projects {
    font-weight: 700;
    font-size: 18px;
}
.projects-type {
    color: var(--grey);
    font-size: var(--middle-font-size);
}